@import "../GlobalStyles.css";

.about-section-1 {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(10, 50px);

  .image-container {
    grid-area: 1 / 1 / 11 / 8;
    background-color: var(--color-brand-700);
    border-top: 1px solid var(--color-brand-1200);

    img {
      object-fit: scale-down;
      width: 100%;
      height: 100%;
      filter: grayscale(100%);
    }
  }
  .about-description {
    overflow-y: scroll;
    grid-area: 1 / 8 / 11 / 21;
    background-color: var(--color-brand-1400);
    color: var(--color-brand-700);
    font-size: var(--font-size-small);
    letter-spacing: var(--letter-spacing-small);
    padding: 30px;
    white-space: pre-line;
    border-top: 1px solid var(--color-brand-1200);
    border-left: 1px solid var(--color-brand-1200);
  }
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--color-primary-peach);
    border-radius: 5px;
  }
  ::-webkit-scrollbar-track {
    background-color: var(--color-primary-black);
  }
}

.about-section-2 {
  .hobbies-title {
    font-size: var(--font-size-large);
    letter-spacing: var(--letter-spacing-large);
    font-weight: 400;
    color: var(--color-brand-1400);
    background-color: var(--color-brand-700);
    padding: 10px 30px 10px 30px;
    border-top: 1px solid var(--color-brand-1200);
    border-bottom: 1px solid var(--color-brand-1200);
  }
  .hobbies-description {
    font-size: var(--font-size-small);
    color: var(--color-brand-700);
    background-color: var(--color-brand-1400);
    padding: 30px 30px 30px 30px;
    letter-spacing: var(--letter-spacing-xsmall);
    white-space: pre-line;
  }
  .hobbies-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--color-brand-1400);
    gap: 10px;
    padding: 30px;

    .hobbie-card {
      min-width: 300px;
      flex: 1;
      border: 1px solid var(--color-brand-1200);

      .hobbie-title {
        background-color: var(--color-brand-700);
        object-fit: cover;
        color: var(--color-brand-1400);
        font-size: var(--font-size-small);
        font-weight: 600;
        letter-spacing: var(--letter-spacing-small);
        padding: 5px;
      }
      ul {
        background-color: var(--color-brand-1400);
        list-style: none;
        height: 300px;
        overflow-y: scroll;
        border: 4px solid var(--color-brand-1300);
        color: var(--color-brand-700);

        li {
          padding: 5px;
          font-size: var(--font-size-small);
          letter-spacing: var(--letter-spacing-small);
        }
        li:nth-child(even) {
          background-color: var(--color-brand-1300);
        }
      }
      ul::-webkit-scrollbar {
        width: 5px;
      }

      ul::-webkit-scrollbar-thumb {
        background-color: var(--color-brand-500);
        border-radius: 5px;
      }
      ul::-webkit-scrollbar-track {
        background-color: var(--color-brand-1400);
      }
    }
  }
}

/* Responsive Layout */

@media screen and (max-width: 600px) {
  .about-section-1 {
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(35, 30px);

    .image-container {
      grid-area: 1 / 1 / 22 / 31;

      img {
        object-fit: fill;
        width: 100%;
        height: 100%;
      }
    }
    .about-description {
      grid-area: 22 / 1 / 36 / 31;
      font-size: var(--font-size-xsmall);
      letter-spacing: var(--letter-spacing-uxsmall);
      padding: 10px;
      border-left: none;
    }
  }

  .about-section-2 {
    .hobbies-title {
      font-size: 50px;
      letter-spacing: var(--letter-spacing-medium);
      padding: 2px 8px;
      color: var(--color-brand-1400);
      background-color: var(--color-brand-700);
      border-bottom: 1px solid var(--color-brand-1200);
    }
    .hobbies-description {
      font-size: var(--font-size-xsmall);
      padding: 10px;
      letter-spacing: var(--letter-spacing-xsmall);
    }
    .hobbies-list {
      padding: 5px;
      gap: 30px;

      .hobbie-card {
        padding: 5px;

        .hobbie-title {
          font-size: var(--font-size-small);

          letter-spacing: var(--letter-spacing-small);
          padding: 5px;
        }
        ul {
          overflow-y: scroll;
          border: none;

          li {
            padding: 5px;
            font-size: var(--font-size-xsmall);
            letter-spacing: var(--letter-spacing-xsmall);
          }
        }
      }
    }
  }
}
