@import "../GlobalStyles.css";

.education-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  border-bottom: 1px solid var(--color-brand-1200);
  padding: 5px;
  margin: 0 auto;
  width: 94%;
  color: var(--color-brand-700);


  .main-icon {
    width: 60px;
    height: 60px;
  }

  h2 {
    flex: 1;
    color: var(--color-brand-500);
    font-size: var(--font-size-large);
    font-weight: 400;
    letter-spacing: var(--letter-spacing-medium);
    padding: 0px 0px 0px 10px;
  }
}

.education-timeline-container {
  display: flex;
  flex-direction: column;
  padding: 20px 0px 20px 0px;
  gap: 10px;
  width: 94%;
  margin: 0 auto;
  margin-bottom: 50px;

  .timeline-item-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    color: var(--color-brand-700);

    .timeline-separator {
      flex: 1;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: start;

      .timelineImage {
        border: 1px solid var(--color-brand-1200);
        padding: 5px;
      }

      hr {
        background-color: var(--color-brand-1200);
        height: 100%;
        width: 1px;
        border: none;
      }
    }

    .timeline-card-grid {
      flex: 12;
      display: grid;
      grid-template-columns: repeat(20, 1fr);
      grid-template-rows: repeat(10, 20px);
      gap: 1px;
      color: var(--color-brand-700);
      background-color: var(--color-brand-1200);
      border: 1px solid var(--color-brand-1200);

      .degree-title {
        background-color: var(--color-brand-700);
        color: var(--color-brand-1400);
        grid-area: 1 / 1 / 4 / 21;
        display: flex;
        align-items: center;
        padding: 5px;
        font-size: var(--font-size-medium);
        font-weight: 400;
        letter-spacing: var(--letter-spacing-medium);
      }

      .institution {
        background-color: var(--color-brand-1400);
        grid-area: 4/1/6/13;
        font-size: var(--font-size-small);
        font-weight: 400;
        letter-spacing: var(--letter-spacing-small);
        padding: 5px;
      }

      .duration {
        background-color: var(--color-brand-1400);
        grid-area: 4/13/6/17;
        font-size: var(--font-size-small);
        font-weight: 400;
        letter-spacing: var(--letter-spacing-small);
        padding: 5px;
      }

      .gpa {
        background-color: var(--color-brand-1400);
        grid-area: 4/17/6/21;
        font-size: var(--font-size-small);
        letter-spacing: var(--letter-spacing-small);
        padding: 5px;
        font-weight: 400;
      }

      .highlights {
        background-color: var(--color-brand-1400);
        grid-area: 6/1/11/21;
        font-size: var(--font-size-small);
        letter-spacing: var(--letter-spacing-small);
        padding: 5px;
        font-weight: 400;

        ul {
          list-style: square;
          margin-left: 22px;
        }
      }
    }
  }
}

.certification-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
  padding: 10px;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 50px;

  .certification-card {
    background-color: var(--color-brand-1400);
    border: 1px solid var(--color-brand-1200);

    .certification-card-title {
      background-color: var(--color-brand-700);

      h4 {
        color: var(--color-brand-1400);
        font-size: var(--font-size-small);
        letter-spacing: var(--letter-spacing-small);
        border-bottom: 1px solid var(--color-brand-1200);
        padding: 5px;
        font-weight: 500;
      }

      h5 {
        color: var(--color-brand-700);
        background-color: var(--color-brand-1400);
        font-size: var(--font-size-small);
        letter-spacing: var(--letter-spacing-small);
        border-bottom: 1px solid var(--color-brand-1200);
        font-weight: 500;
        padding: 5px;
      }
    }

    .certification-card-content {
      background-color: var(--color-brand-1400);
      color: var(--color-brand-700);
      font-size: var(--font-size-small);
      font-weight: 500;
      letter-spacing: var(--letter-spacing-small);
      padding: 5px;
    }

    .certification-card-tags {
      background-color: var(--color-brand-1400);
      display: flex;
      align-self: end;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 10px;
      margin: 5px;

      div {
        background-color: var(--color-brand-700);
        color: var(--color-brand-1400);
        font-size: var(--font-size-xsmall);
        letter-spacing: var(--letter-spacing-xsmall);
        padding: 4px;
        border-radius: 2px;
        padding: 0px 5px 0px 5px;
      }
    }
  }
}

.institution-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 5px;
  padding: 10px;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 50px;

  .institution-card {
    background-color: var(--color-brand-1400);
    border: 1px solid var(--color-brand-1200);
    display: flex;
    flex-direction: column;

    .institution-card-title {
      background-color: var(--color-brand-1400);
      display: flex;
      flex-direction: row;
      gap: 10px;
      border-bottom: 1px solid var(--color-brand-1200);

      img {
        width: 50px;
        height: 50px;
        padding: 5px;
        filter: grayscale(60%);
      }

      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: var(--font-size-small);
        font-weight: 500;
        letter-spacing: var(--letter-spacing-small);
        color: var(--color-brand-700);
      }
    }

    .email {
      background-color: var(--color-brand-1400);
      color: var(--color-brand-700);
      display: flex;
      flex-direction: row;
      gap: 5px;
      border-bottom: 1px solid var(--color-brand-1200);
      align-items: center;
      padding: 2px;

      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: var(--font-size-xsmall);
        font-weight: 500;
        letter-spacing: var(--letter-spacing-xsmall);
      }
    }

    .address {
      background-color: var(--color-brand-1400);
      color: var(--color-brand-700);
      font-size: var(--font-size-xsmall);
      font-weight: 500;
      letter-spacing: var(--letter-spacing-xsmall);
      padding: 5px;
    }

    .link {
      width: 100%;
      text-align: center;
      background-color: var(--color-brand-1400);
      flex: 1;
      display: flex;
      justify-content: center;
      margin-bottom: 10px;

      a {
        background-color: var(--color-brand-1400);
        color: var(--color-brand-700);
        text-decoration: none;
        font-size: var(--font-size-xsmall);
        font-weight: 500;
        letter-spacing: var(--letter-spacing-xsmall);
        padding: 5px;
        align-self: flex-end;
        border: 1px solid var(--color-brand-1200);
        margin-bottom: 2px;
        display: flex;
        gap: 5px;
        align-items: center;

        &:hover {
          background-color: var(--color-brand-700);
          color: var(--color-brand-1400);
          transition: 0.3s ease-in-out;
        }
      }
    }
  }
}

/* Responsive Layout */

@media screen and (max-width: 900px) {
  .education-title {
    margin-top: 40px;

    .main-icon {
      width: 40px;
      height: 40px;
    }

    h2 {
      font-size: var(--font-size-medium);
      letter-spacing: var(--letter-spacing-small);
      padding: 0px 0px 0px 5px;
    }
  }

  .education-timeline-container {
    margin-top: 10px;
    gap: 5px;

    .timeline-item-container {
      width: 99%;

      .timeline-separator {
        .timelineIcon {
          width: 40px;
          height: 40px;
          padding: 3px;
        }

        hr {
          width: 4px;
        }
      }

      .timeline-card-grid {
        grid-template-rows: repeat(8, 20px);
        gap: 3px;
        border: 3px solid var(--color-brand-1000);

        .degree-title {
          grid-area: 1 / 1 / 3 / 21;
          font-size: var(--font-size-small);
          letter-spacing: var(--letter-spacing-small);
        }

        .institution {
          grid-area: 3/1/5/13;
          font-size: var(--font-size-xsmall);
          letter-spacing: var(--letter-spacing-xsmall);
        }

        .duration {
          grid-area: 3/13/5/17;
          font-size: var(--font-size-xsmall);
          letter-spacing: var(--letter-spacing-xsmall);
        }

        .gpa {
          grid-area: 3/17/5/21;
          font-size: var(--font-size-xsmall);
          letter-spacing: var(--letter-spacing-xsmall);
        }

        .highlights {
          grid-area: 5/1/9/21;
          font-size: var(--font-size-xsmall);
          letter-spacing: var(--letter-spacing-xsmall);
        }
      }
    }
  }

  .certification-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    padding: 5px;

    .certification-card {
      border: 3px solid var(--color-brand-1000);

      .certification-card-title {
        h4 {
          font-size: var(--font-size-xsmall);
          letter-spacing: var(--letter-spacing-xsmall);
          border-bottom: 1px solid var(--color-light-peach);
        }

        h5 {
          font-size: var(--font-size-xsmall);
          letter-spacing: var(--letter-spacing-xsmall);
        }
      }

      .certification-card-content {
        font-size: var(--font-size-xsmall);
        letter-spacing: var(--letter-spacing-xsmall);
      }

      .certification-card-tags {
        gap: 10px;
        margin-top: 5px;

        div {
          font-size: var(--font-size-uxsmall);
          letter-spacing: var(--letter-spacing-uxsmall);
          padding: 4px;
          border-radius: 2px;
          padding: 0px 3px 0px 3px;
        }
      }
    }
  }

  .institution-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 5px;
    padding: 5px;

    .institution-card {
      border: 1px solid var(--color-brand-1200);
      padding: 5px;

      .institution-card-title {
        gap: 5px;

        img {
          padding: 3px;
        }

        div {
          font-size: var(--font-size-xsmall);
          letter-spacing: var(--letter-spacing-xsmall);
        }
      }

      .email {
        gap: 2px;

        img {
          width: 25px;
          height: 25px;
          padding: 3px;
        }

        div {
          font-size: var(--font-size-uxsmall);
          letter-spacing: var(--letter-spacing-uxsmall);
        }
      }

      .address {
        font-size: var(--font-size-uxsmall);
        letter-spacing: var(--letter-spacing-uxsmall);
      }

      .link {
        justify-content: start;

        a {
          font-size: var(--font-size-uxsmall);
          letter-spacing: var(--letter-spacing-uxsmall);
          padding: 3px;
          border: 1px solid var(--color-brand-1200);
          margin-bottom: 1px;
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .education-title {
    margin-top: 20px;

    .main-icon {
      width: 30px;
      height: 30px;
    }

    h2 {
      font-size: var(--font-size-medium);
      letter-spacing: var(--letter-spacing-xsmall);
      padding: 0px 0px 0px 3px;
    }
  }

  .education-timeline-container {
    margin-top: 8px;
    gap: 5px;

    .timeline-item-container {
      width: 99%;

      .timeline-separator {
        display: none;
      }

      .timeline-card-grid {
        grid-template-rows: repeat(12, 20px);
        gap: 1px;
        border: 1px solid var(--color-brand-1200);

        .degree-title {
          grid-area: 1 / 1 / 3 / 21;
          font-size: var(--font-size-xsmall);
          letter-spacing: var(--letter-spacing-xsmall);
        }

        .institution {
          grid-area: 3/1/5/21;
          font-size: var(--font-size-xsmall);
          letter-spacing: var(--letter-spacing-uxsmall);
          padding: 2px;
        }

        .duration {
          grid-area: 5/1/7/10;
          font-size: var(--font-size-xsmall);
          letter-spacing: var(--letter-spacing-uxsmall);
          padding: 2px;
        }

        .gpa {
          grid-area: 5/10/7/21;
          font-size: var(--font-size-xsmall);
          letter-spacing: var(--letter-spacing-uxsmall);
          padding: 2px;
        }

        .highlights {
          grid-area: 7/1/13/21;
          font-size: var(--font-size-xsmall);
          letter-spacing: var(--letter-spacing-uxsmall);

          ul {
            margin-left: 16px;
          }
        }
      }
    }
  }

  .certification-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    padding: 5px;

    .certification-card {
      border: 1px solid var(--color-brand-1200);

      .certification-card-title {
        h4 {
          font-size: var(--font-size-xsmall);
          letter-spacing: var(--letter-spacing-uxsmall);
          border-bottom: 1px solid var(--color-brand-1200);
        }

        h5 {
          font-size: var(--font-size-uxsmall);
          letter-spacing: var(--letter-spacing-uxsmall);
        }
      }

      .certification-card-content {
        font-size: var(--font-size-xsmall);
        letter-spacing: var(--letter-spacing-uxsmall);
      }

      .certification-card-tags {
        gap: 8px;
        padding: 3px;
        margin-top: 2px;

        div {
          padding: 0px 5px 0px 5px;
          font-size: var(--font-size-xsmall);
        }
      }
    }
  }

  .institution-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}