@import "../GlobalStyles.css";

.outer-card-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;

  .inner-container {
    display: flex;
    gap: 10px;
    flex-direction: row;

    .timeline-container {
      flex: 1;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: var(--color-brand-700);

      .timelineImage {
        border: 1px solid var(--color-brand-1200);
        padding: 5px;
      }

      hr {
        background-color: var(--color-brand-1200);
        height: 100%;
        width: 1px;
        border: none;
      }
    }

    .card-container {
      display: grid;
      grid-template-columns: repeat(20, 1fr);
      grid-template-rows: repeat(17, 20px);
      gap: 1px;
      width: 95%;
      margin: 0 auto;
      background-color: var(--color-brand-1200);
      padding: 1px;

      .company-name {
        background-color: var(--color-brand-700);
        grid-area: 1/2/4/21;
        font-size: var(--font-size-medium);
        font-weight: 600;
        padding: 5px;
        color: var(--color-brand-1400);
        letter-spacing: var(--letter-spacing-medium);
        display: flex;
        align-items: center;
      }

      .job-title {
        background-color: var(--color-brand-1400);
        grid-area: 4/2/6/21;
        color: var(--color-brand-700);
        font-size: var(--font-size-medium);
        font-weight: 600;
        padding: 5px;
        letter-spacing: var(--letter-spacing-medium);
        display: flex;
        align-items: center;
      }

      .job-duration {
        background-color: var(--color-brand-1400);
        color: var(--color-brand-700);
        grid-area: 1/1/18/2;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        height: 100%;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: var(--font-size-small);
        padding: 5px;
        letter-spacing: var(--letter-spacing-medium);
      }

      .job-description {
        background-color: var(--color-brand-1400);
        grid-area: 6/2/18/13;
        font-weight: 500;
        color: var(--color-brand-700);
        overflow: hidden;

        div {
          background-color: var(--color-brand-1400);
          width: 100%;
          padding: 10px;
          color: var(--color-brand-700);
          font-size: var(--font-size-small);
          letter-spacing: var(--letter-spacing-small);
          border-bottom: 1px solid var(--color-brand-1200);

        }

        p {
          padding: 10px;
          margin: 0;
          font-size: var(--font-size-small);
          letter-spacing: var(--letter-spacing-small);
        }
      }

      .job-location {
        background-color: var(--color-brand-1400);
        grid-area: 14/13/18/21;
        font-weight: 500;
        color: var(--color-brand-700);
        overflow: hidden;


        div {
          background-color: var(--color-brand-1400);
          width: 100%;
          padding: 5px;
          color: var(--color-brand-700);
          font-size: var(--font-size-small);
          letter-spacing: var(--letter-spacing-small);
          border-bottom: 1px solid var(--color-brand-1200);

        }

        p {
          padding: 5px;
          margin: 0;
          font-size: var(--font-size-small);
          letter-spacing: var(--letter-spacing-small);
        }
      }

      .tech-stack {
        background-color: var(--color-brand-1400);
        grid-area: 6/13/14/21;
        color: var(--color-brand-700);
        overflow: hidden;
        font-weight: 500;

        div {
          background-color: var(--color-brand-1400);
          width: 100%;
          padding: 10px;
          color: var(--color-brand-700);
          font-size: var(--font-size-small);
          letter-spacing: var(--letter-spacing-small);
        }

        .tech-stack-container {
          background-color: var(--color-brand-1400);
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
          border-top: 1px solid var(--color-brand-1200);

          p {
            background-color: var(--color-brand-700);
            color: var(--color-brand-1400);
            padding: 0px 5px 0px 5px;
            font-size: var(--font-size-small);
            letter-spacing: var(--letter-spacing-small);
            border: 1px solid var(--color-brand-1200);

            &:hover {
              background-color: var(--color-brand-1400);
              color: var(--color-brand-700);
            }
          }
        }
      }
    }
  }
}

/* Responsive Layout */

@media screen and (max-width: 900px) {
  .outer-card-container {
    padding: 10px;

    .inner-container {
      gap: 10px;

      .card-container {
        grid-template-columns: repeat(20, 1fr);
        grid-template-rows: repeat(18, 20px);
        gap: 1px;
        width: 95%;
        padding: 1px;

        .company-name {
          grid-area: 1/2/3/21;
          font-size: var(--font-size-small);
          letter-spacing: var(--letter-spacing-xsmall);
        }

        .job-title {
          grid-area: 3/2/5/21;
          font-size: var(--font-size-small);
          letter-spacing: var(--letter-spacing-xsmall);
        }

        .job-duration {
          grid-area: 1/1/19/2;
          font-size: var(--font-size-small);
          letter-spacing: var(--letter-spacing-small);
        }

        .job-description {
          grid-area: 5/2/14/21;

          div {
            padding: 5px;
            font-size: var(--font-size-small);
            letter-spacing: var(--letter-spacing-xsmall);
          }

          p {
            padding: 5px;
            font-size: var(--font-size-xsmall);
            letter-spacing: var(--letter-spacing-xsmall);
          }
        }

        .job-location {
          grid-area: 14/13/19/21;

          div {
            padding: 5px;
            font-size: var(--font-size-small);
            letter-spacing: var(--letter-spacing-xsmall);
          }

          p {
            padding: 5px;
            font-size: var(--font-size-xsmall);
            letter-spacing: var(--letter-spacing-xsmall);
          }
        }

        .tech-stack {
          grid-area: 14/2/19/13;

          div {
            padding: 5px;
            font-size: var(--font-size-small);
            letter-spacing: var(--letter-spacing-xsmall);
          }

          .tech-stack-container {
            gap: 5px;

            p {
              padding: 0px 2px 0px 2px;
              font-size: var(--font-size-xsmall);
              letter-spacing: var(--letter-spacing-xsmall);
              border-radius: 2px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .outer-card-container {
    gap: 15px;
    padding: 10px 0px;

    .inner-container {
      gap: 0px;

      .timeline-container {
        display: none;

      }

      .card-container {
        grid-template-columns: repeat(20, 1fr);
        grid-template-rows: repeat(17, 20px);
        gap: 1px;
        width: 98%;
        padding: 1px;

        .company-name {
          grid-area: 1/2/3/21;
          font-size: var(--font-size-xsmall);
          letter-spacing: var(--letter-spacing-xsmall);
        }

        .job-title {
          grid-area: 3/2/5/21;
          font-size: var(--font-size-xsmall);
          letter-spacing: var(--letter-spacing-xsmall);
        }

        .job-duration {
          grid-area: 1/1/18/2;
          font-size: var(--font-size-xsmall);
          letter-spacing: var(--letter-spacing-xsmall);
          padding: 2px;
        }

        .job-description {
          grid-area: 5/2/11/21;

          div {
            padding: 0px 5px;
            font-size: var(--font-size-xsmall);
            letter-spacing: var(--letter-spacing-xsmall);
          }

          p {
            padding: 0px 5px;
            font-size: 18px;
            letter-spacing: var(--letter-spacing-uxsmall);
          }
        }

        .job-location {
          grid-area: 15/2/18/21;

          div {
            padding: 0px 5px;
            font-size: var(--font-size-xsmall);
            letter-spacing: var(--letter-spacing-xsmall);
          }

          p {
            padding: 0px 5px;
            font-size: var(--font-size-xsmall);
            letter-spacing: var(--letter-spacing-uxsmall);
          }
        }

        .tech-stack {
          grid-area: 11/2/15/21;

          div {
            padding: 0px 5px;
            font-size: var(--font-size-xsmall);
            letter-spacing: var(--letter-spacing-xsmall);
          }

          .tech-stack-container {
            gap: 5px;
            padding: 3px;

            p {
              padding: 0px 3px 0px 3px;
              font-size: 18px;
              letter-spacing: var(--letter-spacing-uxsmall);
              border-radius: 2px;
            }
          }
        }
      }
    }
  }
}