@import "../../src/GlobalStyles.css";

.footer-layout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  align-items: center;
  height: 100%;
}

.outer-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--color-brand-1400);
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
}
.footer-tooltip {
  background-color: var(--color-brand-500) !important;
  border: 1px solid var(--color-brand-1000);
  color: var(--color-brand-1200) !important;
  font-weight: 700;
  letter-spacing: var(--letter-spacing-xsmall);
}
.modal-container {
  position: absolute;
  top: -150px;
  left: -150px;
  z-index: 998;
}

.modal-card {
  background-color: var(--color-brand-1400);
  padding: 5px;
  color: var(--color-brand-700);
  min-width: 150px;
  border: 1px solid var(--color-brand-1200);
  position: relative;
}

.modal-card h2 {
  margin: 0 0 10px;
  font-size: var(--font-size-small);
}

.modal-card hr {
  border: none;
  border-top: 1px solid var(--color-brand-1200);
  margin: 10px 0;
}

.close {
  position: absolute;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  border: 1px solid var(--color-brand-1200);
  background-color: var(--color-brand-700);
  color: var(--color-brand-1400);
  top: 10px;
  right: 10px;
  z-index: 999;
  cursor: pointer;
}

.Links-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px;
  gap: 5px;

  .linkedin {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 5px;
    text-decoration: none;
    color: var(--color-brand-700);
    border: 1px solid var(--color-brand-1200);

    &:hover {
      color: var(--color-brand-1400);
      background-color: var(--color-brand-700);
    }
  }
  .github {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 5px;
    text-decoration: none;
    color: var(--color-brand-700);
    border: 1px solid var(--color-brand-1200);

    &:hover {
      color: var(--color-brand-1400);
      background-color: var(--color-brand-700);
    }
  }
}
