@import "../../src/GlobalStyles.css";

.footer-layout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  align-items: center;
  height: 100%;
}

.outer-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--color-primary-peach);
  position: relative;
  cursor: pointer;
}

.home-icon {
  width: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.back-icon {
  width: 12px;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
}

.info-icon {
  width: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
