@import "../GlobalStyles.css";

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.notification-panel {
  position: fixed;
  width: 100%;
  height: 5vh;
  background-color: var(--color-brand-1400);
  border-bottom: 1px solid var(--color-brand-1200);

}
.main-content {
  position: relative;
  top: 5vh;
  height: 88vh;
  background-color: var(--color-brand-1400);
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
}
.footer {
  width: 100%;
  height: 7vh;
  position: fixed;
  bottom: 0vh;
  background-color: var(--color-brand-1400);
  border-top: 1px solid var(--color-brand-1200);
}
