@import "../GlobalStyles.css";

.main-content-layout {
  width: 99%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: repeat(15, 1fr);
  height: 100%;
  padding: 10px;
  gap: 20px;
}

.quotes-component {
  width: 100%;
  height: 100%;
  grid-area: 5/15/15/31;
  border: 1px solid var(--color-brand-1200);
}

.game-component {
  width: 100%;
  height: 100%;
  grid-area: 1/1/13/15;
  border: 1px solid var(--color-brand-1200);
}

.sections-component {
  width: 100%;
  height: 100%;
  grid-area: 13/1/16/14;
}

.now-section-component {
  width: 100%;
  height: 100%;
  grid-area: 1/15/5/31;
}

@media screen and (max-width: 600px) {
  .main-content-layout {
    width: 100%;

    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(42, 1fr);
    padding: 5px;
    gap: 5px;
  }

  .sections-component {
    width: 100%;
    height: 100%;
    grid-area: 1/1/6/31;
  }

  .now-section-component {
    width: 100%;
    height: 100%;
    grid-area: 6/1/15/31;
  }

  .game-component {
    width: 100%;
    height: 100%;
    grid-area: 15/1/30/31;
  }

  .quotes-component {
    width: 100%;
    height: 100%;
    grid-area: 30/1/41/31;
  }
}