@import "../GlobalStyles.css";

.news-container {
  background-color: var(--color-brand-1400);
  display: flex;
  flex-direction: column;
  height: 100%;

  .title {
    font-size: var(--font-size-small);
    letter-spacing: var(--letter-spacing-small);
    font-weight: 400;
    color: var(--color-off-white);
    background-color: var(--color-brand-1400);
    padding: 10px;
    border-bottom: 1px solid var(--color-brand-1200);
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-y: scroll;
    scrollbar-width: none;

    .news-article {
      display: grid;
      grid-template-columns: repeat(20, 1fr);
      grid-template-rows: repeat(17, 10px);
      border: 1px solid var(--color-brand-1200);
      background-color: var(--color-light-peach);
      margin: 5px;

      .news-title {
        background-color: var(--color-primary-black);
        color: var(--color-brand-700);
        font-size: var(--font-size-uxsmall);
        grid-area: 1/10/5/21;
        padding: 2px;
      }
      .news-content {
        background-color: var(--color-light-peach);
        color: var(--color-brand-1000);
        font-size: var(--font-size-uxsmall);
        font-weight: 500;
        grid-area: 5/10/14/21;
        padding: 2px;
        overflow-y: auto;
      }
      .news-content::-webkit-scrollbar {
        width: 5px;
      }

      .news-content::-webkit-scrollbar-thumb {
        background-color: var(--color-brand-1400);
        border-radius: 5px;
      }
      .news-content::-webkit-scrollbar-track {
        background-color: var(--color-brand-700);
      }
      .news-image {
        grid-area: 1/1/18/10;
        width: 100%;
        height: 100%;
        background-color: var(--color-brand-1400);
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
      .news-date {
        background-color: var(--color-brand-700);
        color: var(--color-primary-black);
        font-size: var(--font-size-uxsmall);
        font-weight: 600;
        grid-area: 14/10/16/21;
        padding: 2px;
      }
      .newsButton {
        background-color: var(--color-brand-1400);
        grid-area: 16/10/18/21;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: fit-content;
        margin: 1px;
        border-radius: 1px;

        &:hover {
          background-color: var(--color-off-white);
          border: 1px solid var(--color-brand-1000);
        }

        a {
          text-decoration: none;
          font-size: var(--font-size-uxsmall);
          color: var(--color-off-white);
          padding: 2px;
          cursor: pointer;
          display: block;
          width: 100%;

          &:hover {
            color: var(--color-brand-1000);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .news-container {
    .title {
      font-size: var(--font-size-xsmall);
      letter-spacing: var(--letter-spacing-xsmall);
      padding: 5px;
    }

    .content {
      gap: 2px;
      overflow-y: scroll;
      scrollbar-width: thin;

      .news-article {
        gap: 0px;

        .news-title {
          font-size: 14px;
        }
        .news-content {
          font-size: 14px;
          grid-area: 5/10/14/21;
        }

        .news-date {
          font-size: 14px;
          grid-area: 14/10/16/21;
          padding: 2px;
        }
        .newsButton {
          grid-area: 16/10/18/21;
          text-align: center;
          width: 100%;

          a {
            text-decoration: none;
            font-size: var(--font-size-uxsmall);
            color: var(--color-brand-1000);
            padding: 2px;
            cursor: pointer;
            display: block;
            width: 100%;
          }
        }
      }
    }
  }
}
