@import "../GlobalStyles.css";

.panel-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 5vh;
  align-items: center;
  padding: 0px 10px;

  .titlelogo {
    justify-content: start;
    color: var(--color-brand-700);
    font-size: var(--font-size-medium);
    letter-spacing: var(--letter-spacing-small);
    font-weight: 400;
  }

  .right-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: end;
    align-items: center;
    gap: 10px;

  
  }
}
