@import "../GlobalStyles.css";

.now-section {
  border: 1px solid var(--color-brand-1200);
  height: 100%;
  display: flex;
  flex-direction: column;

  .title {
    font-size: var(--font-size-small);
    letter-spacing: var(--letter-spacing-small);
    font-weight: 400;
    color: var(--color-off-white);
    background-color: var(--color-brand-1400);
    padding: 10px;
    border-bottom: 1px solid var(--color-brand-1200);
  }
  .content {
    width: 100%;
    height: 100%;
    flex: 1;
    font-size: var(--font-size-xsmall);
    letter-spacing: var(--letter-spacing-xsmall);
    font-weight: 400;
    color: var(--color-brand-500);
    background-color: var(--color-brand-1400);
    padding: 10px;
    overflow-y: scroll;
    scrollbar-width: none;

    span {
      font-size: var(--font-size-small);
      font-weight: 800;
    }
  }
}

@media screen and (max-width: 600px) {
  .now-section {
    .title {
      background-color: var(--color-brand-700);
      color: var(--color-brand-1400);
      font-size: var(--font-size-xsmall);
      letter-spacing: var(--letter-spacing-xsmall);
      padding: 5px;
    }
    .content {
      font-size: var(--font-size-uxsmall);
      letter-spacing: var(--letter-spacing-uxsmall);

      padding: 5px;

      span {
        font-size: var(--font-size-xsmall);
      }
    }
  }
}
