@import "../GlobalStyles.css";

.project-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.project-card {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: repeat(20, 15px);
  background-color: var(--color-primary-black);
  padding: 4px;
}
.project-title {
  background-color: var(--color-brand-1000);
  grid-area: 1/16/4/31;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;

  hr {
    width: 100%;
    border: 2px solid var(--color-light-peach);
    height: 6px;
  }
  h2 {
    padding: 0 6px;
    color: var(--color-light-peach);
    font-size: var(--font-size-medium);
    letter-spacing: var(--letter-spacing-medium);
  }
}
.project-image {
  grid-area: 1/1/21/16;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.project-description {
  background-color: var(--color-light-peach);
  grid-area: 4/16/17/31;
  color: var(--color-brand-1000);
  padding: 10px;
  font-size: var(--font-size-small);
  font-weight: 500;
  letter-spacing: var(--letter-spacing-small);
  overflow-y: scroll;
  scrollbar-width: none;
}
.project-stack {
  background-color: var(--color-brand-1000);
  grid-area: 17/16/21/25;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;

  .stack-item {
    width: 55px;
    height: 55px;
    background-color: var(--color-brand-500);
    border-radius: 5px;
    padding: 2px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 40px;
      height: 40px;
      object-fit: cover;
      user-select: none;
    }
  }
}
.project-links {
  grid-area: 17/25/21/31;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  gap: 5px;
  font-size: var(--font-size-small);
  cursor: pointer;

  .live {
    background-color: var(--color-brand-1200);
    width: 100%;
    transition: 0.4s ease-in-out;

    &:hover {
      background-color: var(--color-brand-1000);
    }

    a {
      text-decoration: none;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .github {
    background-color: var(--color-brand-1200);
    width: 100%;
    transition: 0.4s ease-in-out;

    &:hover {
      background-color: var(--color-brand-1000);
    }

    a {
      text-decoration: none;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      div {
        font-size: var(--font-size-small);
        font-weight: 500;
        color: var(--color-light-peach);
        letter-spacing: var(--letter-spacing-small);
      }
    }
  }
}

/* Responsive Layout */
@media screen and (max-width: 900px) {
  .project-card {
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(39, 15px);
  }
  .project-title {
    grid-area: 1/1/4/31;
  }
  .project-image {
    grid-area: 4/1/25/31;
  }
  .project-description {
    grid-area: 25/1/33/31;
  }
  .project-stack {
    grid-area: 33/1/37/31;
  }
  .project-links {
    grid-area: 37/1/40/31;
  }
}

@media screen and (max-width: 600px) {
  .project-container {
    padding: 10px 2px;
  }
  .project-card {
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(28, 15px);
    gap: 2px;
    padding: 2px;
  }
  .project-title {
    grid-area: 1/1/3/31;

    hr {
      width: 100%;
      border: 1px solid var(--color-light-peach);
      height: 4px;
    }
    h2 {
      padding: 0 6px;
      color: var(--color-light-peach);
      font-size: var(--font-size-small);
      letter-spacing: var(--letter-spacing-small);
    }
  }
  .project-image {
    grid-area: 3/1/15/31;
  }
  .project-description {
    grid-area: 15/1/24/31;
    font-size: var(--font-size-xsmall);
    letter-spacing: var(--letter-spacing-xsmall);
    padding: 5px;
    scrollbar-width: thin;
  }
  .project-stack {
    grid-area: 24/1/27/31;

    .stack-item {
      width: 40px;
      height: 40px;
      border-radius: 3px;

      img {
        width: 30px;
        height: 30px;
        object-fit: cover;
        user-select: none;
      }
    }
  }
  .project-links {
    grid-area: 27/1/29/31;
    gap: 2px;
    font-size: var(--font-size-xsmall);
  }
}
