@import "../GlobalStyles.css";

.quotes-container {
  height: 100%;
  display: flex;
  flex-direction: column;

  .title {
    font-size: var(--font-size-small);
    letter-spacing: var(--letter-spacing-small);
    font-weight: 400;
    color: var(--color-brand-500);
    background-color: var(--color-brand-1400);
    border-bottom: 1px solid var(--color-brand-1200);
    padding: 10px;
  }

  .content {
    overflow-y: scroll;
    scrollbar-width: none;
    flex: 1;

    .loading {
      font-size: var(--font-size-small);
      color: var(--color-brand-1000);
      font-weight: 500;
      letter-spacing: var(--letter-spacing-xsmall);
      padding: 5px;
    }

    .quote-card {
      background-color: var(--color-brand-1400);
      border-top: 1px solid var(--color-brand-1200);

      &:hover{
        background-color: var(--color-brand-1300);
      }

      .quote-text {
        color: var(--color-brand-500);
        font-size: var(--font-size-xsmall);
        font-weight: 400;
        padding: 5px;
        letter-spacing: var(--letter-spacing-xsmall);
      }

      .quote-author {
        color: var(--color-brand-700);
        font-size: 16px;
        font-weight: 400;
        letter-spacing: var(--letter-spacing-xsmall);
        padding: 5px;
        opacity: 0.8;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .quotes-container {
    .title {
      font-size: var(--font-size-xsmall);
      letter-spacing: var(--letter-spacing-xsmall);

      padding: 5px;
    }

    .content {
      .quote-card {
        padding: 5px;
        scrollbar-width: thin;

        .quote-text {
          font-size: var(--font-size-uxsmall);
          padding: 0px;
          letter-spacing: var(--letter-spacing-uxsmall);
        }

        .quote-author {
          font-size: 14px;
          letter-spacing: var(--letter-spacing-xsmall);
          padding: 0px;
        }
      }
    }
  }
}
