@import "../GlobalStyles.css";

.section-layout {
  display: flex;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;

  .section-container {
    text-align: center;

    .section-link {
      border: 2px solid var(--color-brand-700);
      display: inline-block;
      width: 70px;
      height: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.3s ease-in-out;
      background-color: var(--color-light-peach);

      .section-icon {
        width: 50px;
        height: 50px;
        transition: 0.3s ease-in-out;
        opacity: 0.8;
      }

      &:hover {
        border-radius: 50%;

        .section-icon {
          width: 40px;
          height: 40px;
        }
      }
    }

    .section-name {
      color: var(--color-brand-1000);
      font-size: 16px;
      font-weight: 500;
    }
  }
}

@media screen and (max-width: 600px) {
  .section-layout {
    gap: 12px;
    margin-top: 10px;

    .section-container {
      text-align: center;

      .section-link {
        width: 50px;
        height: 50px;

        .section-icon {
          width: 35px;
          height: 35px;
        }

        &:hover {
          border-radius: 50%;

          .section-icon {
            width: 25px;
            height: 25px;
          }
        }
      }

      .section-name {
        color: var(--color-brand-1000);
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
}
