@import "../GlobalStyles.css";

.skill-main-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  width: 98%;
  margin-top: 20px;
  border-bottom: 1px solid var(--color-brand-1200);
  margin-bottom: 20px;

 
  h2 {
    flex: 1;
    color: var(--color-brand-500);
    font-weight: 400;
    font-size: var(--font-size-large);
    letter-spacing: var(--letter-spacing-medium);
    padding: 0px 0px 0px 10px;
  }
}

.outer-container {
  width: 98%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 10px;

  .skill-card {
    background-color: var(--color-brand-1400);
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-brand-1200);
    gap: 5px;
    padding: 5px;

    .skill-card-title {
      background-color: var(--color-brand-700);
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 2px;

      img {
        width: 40px;
        height: 40px;
        padding: 5px;
        filter: grayscale(40%);
      }
      h4 {
        font-size: var(--font-size-medium);
        letter-spacing: var(--letter-spacing-small);
        padding: 5px;
        color: var(--color-brand-1400);
        flex: 1;
        display: flex;
        align-self: center;
      }
    }

    .proficiency-section {
      display: flex;
      flex-direction: column;
      gap: 5px;
      
      .proficiency-info {
        display: flex;
        flex-direction: row;
        border: 1px solid var(--color-brand-1200);

        .title {
          background-color: var(--color-brand-1400);
          color: var(--color-brand-700);
          padding: 0px 5px 0px 5px;
          font-size: var(--font-size-xsmall);
          letter-spacing: var(--letter-spacing-xsmall);
        }
        .proficiency-level {
          flex: 1;
          background-color: var(--color-brand-1300);
          color: var(--color-brand-700);
          padding: 0px 5px 0px 5px;
          font-size: var(--font-size-xsmall);
          letter-spacing: var(--letter-spacing-xsmall);
        }
      }

      .proficiency-bar {
        background-color: var(--color-brand-1400);
        border: 1px solid var(--color-brand-1200);

        .progress {
          background-color: var(--color-brand-700);
          height: 15px;
          text-align: end;
          color: var(--color-brand-1400);
          font-weight: 500;
          font-size: var(--font-size-uxsmall);
        }
      }
    }

    .skill-card-info-section {
      display: flex;
      flex-direction: column;
      flex: 1;

      .highlights {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 5px;

        div {
          padding: 0px 5px 0px 5px;
          background-color: var(--color-brand-1300);
          border: 1px solid var(--color-brand-1200);
          color: var(--color-brand-700);
          font-size: var(--font-size-xsmall);
          letter-spacing: var(--letter-spacing-xsmall);
        }
      }
    }
    .more-info-button {
      background-color: var(--color-brand-1400);
      padding: 0px 5px 0px 5px;
      width: 100%;
      border: 1px solid var(--color-brand-1200);

      &:hover {
        background-color: var(--color-brand-700);
        transition: 0.3s ease-in-out;
      }

      a {
        text-decoration: none;
        color: var(--color-brand-700);
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;

        &:hover{
          color: var(--color-brand-1400);
        }

        div {
          font-size: var(--font-size-xsmall);
          letter-spacing: var(--letter-spacing-xsmall);
        }
        img {
          width: 10px;
          height: 10px;
        }
      }
    }
  }
}

/* Responsive */

@media screen and (max-width: 600px) {
  .skill-main-title {
    margin-top: 50px;
    .iconImage {
      width: 40px;
      height: 40px;
      padding: 5px;
    }
    h2 {
      font-size: var(--font-size-medium);
      letter-spacing: var(--letter-spacing-small);
      padding: 0px 0px 0px 10px;
    }
  }

  .outer-container {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));

    .skill-card {
      padding: 3px;
      gap: 3px;

      .skill-card-title {
        gap: 2px;

        img {
          width: 35px;
          height: 35px;
          padding: 3px;
        }
        h4 {
          font-size: var(--font-size-small);
          letter-spacing: var(--letter-spacing-xsmall);
          padding: 3px;
        }
      }

      .proficiency-section {
        gap: 3px;

        .proficiency-info {
          .title {
            font-size: 14px;
            letter-spacing: var(--letter-spacing-uxsmall);
          }
          .proficiency-level {
            color: var(--color-primary-black);
            font-size: var(--font-size-uxsmall);
            letter-spacing: var(--letter-spacing-uxsmall);
          }
        }

        .proficiency-bar {
          .progress {
            background-color: var(--color-brand-1400);
            height: 14px;
          }
        }
        .proficiency-percentage {
          padding: 0px 0px 0px 0px;
          font-size: 14px;
        }
      }

      .skill-card-info-section {
        gap: 5px;

        .skill-card-info {
          font-size: var(--font-size-uxsmall);
          letter-spacing: var(--letter-spacing-uxsmall);
        }
        .highlights {
          gap: 5px;

          div {
            font-size: var(--font-size-uxsmall);
            letter-spacing: var(--letter-spacing-uxsmall);
            padding: 0px 2px 0px 2px;
          }
        }
      }
      .more-info-button {
        padding: 0px 3px 0px 3px;

        a {
          gap: 5px;

          div {
            font-size: var(--font-size-uxsmall);
            letter-spacing: var(--letter-spacing-uxsmall);
          }
          img {
            width: 10px;
            height: 10px;
          }
        }
      }
    }
  }
}
