.container {
  background-color: rgb(52, 52, 52);
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: absolute;
  left: 40%;
  top: 40%;
}

.outerStartContainer {
  background-color: white;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  position: relative;
  top: 10%;
  left: 10%;
}

.innerStartContainer {
  background-color: rgb(54, 69, 79);
  border-radius: 50%;
  width: 130px;
  height: 130px;
  position: relative;
  top: 9%;
  left: 9%;
}

.outerPill {
  background-color: rgb(40, 40, 43);
  width: 20px;
  height: 100px;
  border-radius: 50px;
  position: absolute;
  top: -25%;
  left: 35%;
  padding: 10px;
}

.innerPill {
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 50px;
}
