:root {
  --color-brand-500: #e0e0e0;
  --color-brand-700: #c8c8c8;
  --color-brand-800: #b0b0b0;
  --color-brand-900: #909090;
  --color-brand-1000: #707070;
  --color-brand-1100: #5a5a5a;
  --color-brand-1200: #484848;
  --color-brand-1250: #353535;
  --color-brand-1300: #1a1a1a;
  --color-brand-1400: #0b0b11;


  --font-size-large: 80px;
  --font-size-medium: 35px;
  --font-size-small: 25px;
  --font-size-xsmall: 20px;
  --font-size-uxsmall: 16px --letter-spacing-large: 8px;
  --letter-spacing-medium: 4px;
  --letter-spacing-small: 2px;
  --letter-spacing-xsmall: 1px;


}


[data-theme='light'] {
  --color-brand-1400: #f7f6f2;
  --color-brand-1300: #efeee9;
  --color-brand-1250: #e5e3db;
  --color-brand-1200: #928c78;
  --color-brand-1100: #a8a6a0;
  --color-brand-1000: #8c8a84;
  --color-brand-900: #6e6c67;
  --color-brand-800: #52504c;
  --color-brand-700: #3a3935;
  --color-brand-500: #1e1e1c;

}